.navbar {
position: fixed;
top: 0; left: 0; right: 0;
background: #fff;
padding: 0.5rem 10%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
}

.logo {
  width: 70px;
  height: auto;
  margin-right: 10px;
}