body {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  background-size: cover;
}

/* HOME */
#feature {
  background-image: url("https://i.imgur.com/4IonQd6.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
}

/*  OUR STORY */

#our-story .story-content {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}

#our-story-content {
  padding-right: 50px;
  text-align: left;
}
#our-story-title {
  color: white;
  margin-bottom: 10px;
}

#owners {
  width: 100%;
  margin: 50px;
}

/* SELFIE */

#selfie-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#selfie h2 {
  margin-bottom: 10px;
}

.collage > img {
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.section img:hover {
  transform: scale(1.05);
}

/* LAST SLIDE */

#lastslide {
  background-image: url("https://i.imgur.com/Cxoz4yA.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
}

/* FOOTER */
footer {
  background-color: white;
  color: black;
  padding: 20px 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo > img {
width: 50px;
  height: auto;
}

.footer-links ul, .footer-social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li, .footer-social ul li {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}

.footer-bottom p {
  margin: 0;
}



button {
  padding: 1em 2em;
  background-color: white;
  color: black;
}